.buttons {
  display: flex;
  padding: 12px 70px;
  justify-content: space-around;
  animation: fadeIn 3s ease-out;
}

button {
  background-color: #ff1493;
  color: white;
  border: none;
  padding: 15px 3em;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Protest Riot";
}

button:hover {
  background-color: #ff69b4;
}

button:focus {
  outline: none;
}

button:focus-visible {
  outline: none;
}

.yes-button {
  background-color: #ff1493;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Protest Riot";
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  text-align: center;
}

.yes-button:hover {
  background-color: #ff69b4;
}

.no-button {
  background-color: #ff1493;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: "Protest Riot";
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
  text-align: center;
}

.no-button:hover {
  background-color: #ff69b4;
}
