.photo-gallery {
  margin-top: 20px;
  margin-bottom: 5px;
  animation: fadeIn 4s ease-out;
}

.photo-gallery h1 {
  color: #ff69b4;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #ffb6c1;
}

.photos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.photos img {
  width: 100%;
  max-width: 350px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.photos img:hover {
  transform: scale(1.04);
}
