@keyframes backgroundAnimation {
  0% {
    background: linear-gradient(45deg, #ffafbd, #ffc3a0);
  }
  25% {
    background: linear-gradient(45deg, #ffcc33, #ff99cc);
  }
  50% {
    background: linear-gradient(45deg, #ff6666, #ffcc99);
  }
  75% {
    background: linear-gradient(45deg, #ffcc33, #ff99cc);
  }
  100% {
    background: linear-gradient(45deg, #ffafbd, #ffc3a0);
  }
}
