@media (max-width: 480px) {
  body {
    padding: 12px;
    font-size: 14px;
  }

  /* Contenedor principal */
  .container {
    padding: 10px 15px;
    border-radius: 8px;
    max-width: 95%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  }

  /* Título */
  h1 {
    font-size: 2em;
    margin-bottom: 15px;
  }

  /* Párrafo */
  p {
    font-size: 14px;
    margin-bottom: 25px;
    line-height: 1.5;
    text-align: start;
    padding: 14px;
  }

  /* Imagen redondeada */
  .rounded-image {
    max-width: 90%;
    margin-bottom: 15px;
    border-radius: 15px;
  }

  /* Botones */
  button {
    padding: 12px 25px;
    font-size: 14px;
    border-radius: 4px;
    margin: 5px;
    width: 100%;
  }

  /* Botones en contenedor */
  .buttons {
    padding: 0px 2em;
    gap: 10px;
  }

  /* Galería de fotos */
  .photo-gallery {
    margin-top: 2.5em;
    margin-bottom: 10px;
  }

  .photos {
    gap: 10px;
  }

  .photos img {
    max-width: 90%;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
  }

  .photos img:hover {
    transform: none;
  }

  /* Mensaje positivo */
  .yes-message {
    font-size: 19px;
    text-align: center;
  }

  .yes-response {
    width: 16em;
    height: 12em;
    padding: 3px 30px;
  }

  .yes-button {
    width: 5em;
    height: 4em;
    padding: 15px 20px;
    font-size: 10px;
    margin-top: -20px;
  }

  /* Mensaje negativo */
  .no-message {
    font-size: 16px;
    text-align: center;
  }

  .no-response {
    width: 20em;
    height: 8em;
    padding: 0em 1em 1em;
  }

  .no-button {
    width: 5em;
    height: 4em;
    padding: 15px 20px;
    font-size: 10px;
    margin-top: 8px;
  }

  /* Botón de mute */
  #muteButton {
    top: 2px;
    right: 2px;
    font-size: 18px;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0px;
  }
}
