body {
  background: linear-gradient(45deg, #ffafbd, #ffc3a0);
  color: #d6336c;
  font-family: "Protest Riot";
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  transition: background-color 0.3s;
  animation: backgroundAnimation 20s infinite alternate ease-in-out;
}
